html {
    box-sizing: border-box;
}

#menu {
    font-size: 48px;
}

.header, .sections, .menu-and-update-container {
    display: flex;
}

.header-update-status {
    font-family: 'Times New Roman', Times, serif
}

.subscribe-button {
    border-radius: 40%;
    border: none;
}

.menu-and-update-container {
    align-items: center;
    gap: 20px;
}

.random-ad-container {
    width:80%;
}

.header {
    justify-content: space-between;
}

.subscribe-button, .header {
    padding: 20px;
}

ul {
    margin:0;
    padding:0;
    list-style-type: none;
}

.sections {
    gap:20px;
    justify-content:center;
}

.sections li {
    font-size:1.5em;
}

.sections li a {
    text-decoration:none;
    color:black;
}

.random-ad {
    width:400px;
    height:auto;
}